
        .text-panel {
            border: 5px solid blue;
            border-radius: 5px;
            margin: 10px;
            color:rgb(10, 0, 155);
            font-family: 'Courier New', Courier, monospace
            }
            header{
            text-align: center;
            }
            h2{
            text-align: center;
            }
            p{
            text-align: center;
            }
            .centering{
            text-align: center;
            }
            .link-button{
            display: inline-block;
            border: 1px solid black;
            border-radius: 5px;
            background-color: blue;
            color: aliceblue;
            text-align: none;
            padding: 5px;
            margin: 5px;
            }
            .button-link{
            background-color: aliceblue;
            color: blueviolet;
            transition-duration: 0.3s;
            }
